<div class="container">
  <h2>Registro de Ganancias - Binance</h2>
  <h3>USDT DISPONIBLE: {{disponible}}</h3>
<form [formGroup]="formGroup" (ngSubmit)="guardar()">

  <div class="mb-3">
    <label for="cantidad" class="form-label">Cantidad</label>
    <input type="text" class="form-control" name="cantidad" id="cantidad" formControlName="cantidad">
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio</label>
    <input type="text" class="form-control" name="precio" id="precio" formControlName="precio">
  </div>
 
  <div class="mb-3">
    <label for="precio" class="form-label">Tipo de Orden</label>
  <select class="form-select" formControlName="tipo"> 
    <option value="">Seleccione un Tipo</option>
    <option value="1">Compra</option>
    <option value="2">Venta</option>
  </select>
  </div>
  <button [disabled]="!this.formGroup.valid" class="btn btn-primary" type="submit">Guardar</button>
  <button class="btn btn-secondary mx-2" type="reset">Limpiar</button>
  <button class="btn btn-success" (click)="calcular()">Calcular</button>
</form>

<table class="table mt-2 table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nro Orden</th>
      <th scope="col">Tipo de Orden</th>
      <th scope="col">Cantiad</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of ordenes" [class]="item.tipo == 1 ? 'table-success' : 'table-danger'">
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.tipo == 1 ? 'Compra' : 'Venta'}}</td>
      <td>{{item.cantidad}}</td>
      <td>{{item.precio}}</td>
    </tr>
  </tbody>
</table>
</div>