<div class="container">
<form [formGroup]="miFormulario">
  <div class=" formulario">
  <h2 >Registro de Ganancias</h2>
  </div>
  
  <div>
  <input type="text" name="cantidad" placeholder="Cantidad" formControlName="cantidad" [ngModel]="cantidad">
  <p>{{cantidad}}</p>
  <input type="text" name="precio" placeholder="Precio" formControlName="precio" [ngModel]="precio">
  <p>{{precio}}</p>
  </div>

  <div>
  <select name="" id="">
    <option value="1">Compra</option>
    <option value="1">Venta</option>
  </select>
  </div>
 
 
  <div>
  <input type="submit" value="Guardar">
  <input type="submit" value="Calcular">
  </div>



</form>
</div>