<div class="container">
<form [formGroup]="miFormulario">
  <div class="container bg-dark text-white my-5">
  <h2 >Registro de ganancias</h2>
  </div>
  
  <div>
  <input type="text" name="cantidad" placeholder="Cantidad" formControlName="cantidad">
  <input type="text" name="precio" placeholder="Precio" formControlName="precio">
  </div>

  <div>
  <select name="" id="">
    <option value="1">Compra</option>
    <option value="1">Venta</option>
  </select>
  </div>
 
 
  <div>
  <input type="submit" value="Guardar">
  <input type="submit" value="Calcular">
  </div>



</form>
</div>